.login{
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons{
    flex-direction: row;
    margin-top: 50px;
    padding-right: 25px;
}


#b1{
    color: black;
    font-size: large;
    font-weight: bold;
    padding: 20px;
    width: 200px;
    height: 50px;
    padding-bottom: 20px;
}

#b2{
    color: black;
    font-size: large;
    font-weight: bold;
    padding: 20px;
    width: 200px;
    height: 50px;
    padding-bottom: 20px;
    margin-left: 25px;
}


#b1.hover{
    background-color: rgb(156, 36, 156);
    animation:  forwards;
}